.maindiv{
    display: flex;
    justify-content: space-between;
    padding: 3px 50px;
    color: white;
    background-color: rgb(32, 31, 31);
    box-shadow: 0px 2px 17px 1px rgba(148, 142, 142, 0.7);
}
.logo{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    padding: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 30px;
}
.logo span{
    font-size: 25px;
    position: absolute;
    right: -35px;
    top: 3px;
}

.ullists{
    display: flex;
    list-style: none;
    margin-right: 30px;
    align-items: center;
    height: 100%;
}
.ullists li{
    display: block;
    padding: 3px 10px;
    margin-right: 10px;
    cursor: pointer;
}
.ullists li a{
    color: white;
    text-decoration: none;
}
